<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Sign Out"/>
    </form>
</div>



<div>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type ="text" name="taskDiscription" placeholder="Введите описание задания"/>
        <input type ="text" name="taskPlace" placeholder="Введите место задания"/>
        <input type ="text" name="taskTag" placeholder="Введите тэг"/>
        <button type="submit">Добавить</button>
    </form>
</div>

<div>Task list</div>
<form method="post" action="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="text" name = "filter">
    <button type="submit">Найти</button>
</form>
{{#tasks}}
<div>
    <b>{{taskId}}</b>
    <b>{{taskDiscription}}</b>
    <b>{{taskPlace}}</b>
    <b>{{taskTag}}</b>
    <strong>{{authorName}}</strong>
</div>
{{/tasks}}
</body>
</html>